:root {
	/* Colors */
	--accent: #3c76af;
	--background: #0D1117;
	--lightAccent: #000000;
	--lighterAccent: #1E2A38;
	--dark: #ffffff;
	--darker: #53a5f7;
	--slate: #a2abb4;

	--white: #fff;
	--black: #152030;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: 'Helvetica', Georgia, Times, serif;
	--primaryFont: 'Helvetica', sans-serif;
	--codeFont: 'Fira Code', monospace;
}
